.dialog {
    /* display: none; */
    z-index: 2;
}

.dialog__overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #6565656e;
}

.dialog__container {
    padding: 24px;
    background-color: #ffffff;
    position: absolute;
    display: block;
    min-width: 350px;
    width: 25vw;
    /* height: 80vh; */
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 10px rgba(0, 0, 0, .16);

}

.dialog__title {
    font-size: 20px;
    font-weight: bold;
    
}
.dialog__content{
    display: flex;
}

.dialog__icon{
    align-self: center;
}
.dialog__icon img{
    max-width: 48px;
}

.dialog__description {
    margin: 24px 0;
}

.dialog__button {
    display: flex;
    flex-direction: row-reverse;
    gap: 8px;
    width: 100%;
}

.dialog__exit{
    position: absolute;
    top:24px;
    right: 24px;
    cursor: pointer;
}