#dataGrid td {
    text-align: left;
    /* min-width: 80px; */
    /* max-width: 250px; */
    /* width: 250px; */
  }
  .dx-data-row.dx-state-hover > td {
    cursor: pointer;
    background-color: #dbf4ff !important;
  }
  
  .dx-selection > td {
    cursor: pointer;
    background-color: #dbf4ff !important;
  }
  .dx-datagrid .dx-row > td,
  .dx-datagrid .dx-row > tr > td {
    height: 48px !important;
  }
  .grid-container .dx-datagrid .dx-row > td {
    padding: 0 16px;
    height: 48px !important;
    vertical-align: middle !important;
  }
  
  .dx-datagrid-text-content.dx-text-content-alignment-left {
    font-weight: 700;
    color: #000 !important;
  }
  .grid-container .dx-datagrid .dx-row-lines > td {
    border-bottom: 1px solid var(--border-color) !important;
  }
  .grid-container .dx-datagrid-headers .dx-row.dx-header-row {
    background-color: #fff !important;
    border-bottom: 1px solid #e2e8f0 !important;
  }
  .grid-container
    .dx-datagrid-headers
    .dx-datagrid-table
    .dx-row
    > td:not(:last-child, :first-child) {
    border-bottom: none;
    border-left: 1px solid #e2e8f0;
  }
  /* .grid-container .dx-datagrid-headers .dx-datagrid-table .dx-row > td:not(:last-child):before {
    content: "" !important;
    position: absolute !important;
    top: 30% !important;
    left: 0 !important;
    background-color: red !important;
    width: 1px !important;
    height: 20px !important;
    z-index: 23 !important;
  } */
  .grid-container .dx-scrollable-simulated {
    overflow: auto !important;
  }