.icon-employee {
    -webkit-mask-position: -336px -48px;
    mask-position: -336px -48px;
}

.icon-employee,
.icon-image {
    width: 24px;
    height: 24px;
    -webkit-mask-image: url(@/assets/img/Icon_process.0a0cc28b.svg);
    mask-image: url(@/assets/img/Icon_process.0a0cc28b.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-color: #65696e !important;
}

.icon-protect {
    -webkit-mask-position: -48px -72px;
    mask-position: -48px -72px;
}

.icon-form-template,
.icon-protect {
    width: 24px;
    height: 24px;
    -webkit-mask-image: url(@/assets/img/Icon_process.0a0cc28b.svg);
    mask-image: url(@/assets/img/Icon_process.0a0cc28b.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-color: #686c7b !important;
}

.icon-multiple-user {
    -webkit-mask-position: -72px -24px;
    mask-position: -72px -24px;
}

.icon-multiple-user,
.icon-tag {
    width: 24px;
    height: 24px;
    -webkit-mask-image: url(@/assets/img/Icon_process.0a0cc28b.svg);
    mask-image: url(@/assets/img/Icon_process.0a0cc28b.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-color: #686c7b !important;
}

.icon-remote,
.icon-share-link {
    width: 24px;
    height: 24px;
    -webkit-mask-image: url(@/assets/img/Icon_process.0a0cc28b.svg);
    mask-image: url(@/assets/img/Icon_process.0a0cc28b.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-color: #686c7b !important;
}

.icon-share-link {
    -webkit-mask-position: -96px -72px;
    mask-position: -96px -72px;
}

.mi-plus-green,
.mi-plus-white {
    width: 24px;
    height: 24px;
    -webkit-mask-image: url(@/assets/img/IconControl.9280241f.svg);
    -moz-mask-image: url(@/assets/img/IconControl.9280241f.svg);
    -ms-mask-image: url(@/assets/img/IconControl.9280241f.svg);
    -o-mask-image: url(@/assets/img/IconControl.9280241f.svg);
    mask-image: url(@/assets/img/IconControl.9280241f.svg);
    -webkit-mask-position: -240px 0;
    -moz-mask-position: -240px 0;
    -ms-mask-position: -240px 0;
    -o-mask-position: -240px 0;
    mask-position: -240px 0;
    -webkit-mask-repeat: no-repeat;
    -moz-mask-repeat: no-repeat;
    -ms-mask-repeat: no-repeat;
    -o-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.mi-plus-white {
    background-color: #fff !important;
}

.icon-run-process {
    width: 20px;
    height: 20px;
    -webkit-mask-position: -136px -97px;
    -moz-mask-position: -136px -97px;
    -ms-mask-position: -136px -97px;
    -o-mask-position: -136px -97px;
    mask-position: -136px -97px;
    background-color: #fff !important;
}

.icon-run-process,
.icon-upload-file {
    -webkit-mask-image: url(@/assets/img/Icon_process.0a0cc28b.svg);
    -moz-mask-image: url(@/assets/img/Icon_process.0a0cc28b.svg);
    -ms-mask-image: url(@/assets/img/Icon_process.0a0cc28b.svg);
    -o-mask-image: url(@/assets/img/Icon_process.0a0cc28b.svg);
    mask-image: url(@/assets/img/Icon_process.0a0cc28b.svg);
    -webkit-mask-repeat: no-repeat;
    -moz-mask-repeat: no-repeat;
    -ms-mask-repeat: no-repeat;
    -o-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.mi-search,
.mi-threedot {
    width: 24px;
    height: 24px;
    -webkit-mask-image: url(@/assets/img/IconControl.9280241f.svg);
    -moz-mask-image: url(@/assets/img/IconControl.9280241f.svg);
    -ms-mask-image: url(@/assets/img/IconControl.9280241f.svg);
    -o-mask-image: url(@/assets/img/IconControl.9280241f.svg);
    mask-image: url(@/assets/img/IconControl.9280241f.svg);
    -webkit-mask-repeat: no-repeat;
    -moz-mask-repeat: no-repeat;
    -ms-mask-repeat: no-repeat;
    -o-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.mi-search {
    -webkit-mask-position: -192px 0;
    -moz-mask-position: -192px 0;
    -ms-mask-position: -192px 0;
    -o-mask-position: -192px 0;
    mask-position: -192px 0;
    background-color: #9fa4b4 !important;
}

.mi-threedot {
    -webkit-mask-position: -168px 0;
    -moz-mask-position: -168px 0;
    -ms-mask-position: -168px 0;
    -o-mask-position: -168px 0;
    mask-position: -168px 0;
    background-color: var(--icon-deault-color) !important;
}

.mi-search,
.mi-threedot {
    width: 24px;
    height: 24px;
    -webkit-mask-image: url(@/assets/img/IconControl.9280241f.svg);
    -moz-mask-image: url(@/assets/img/IconControl.9280241f.svg);
    -ms-mask-image: url(@/assets/img/IconControl.9280241f.svg);
    -o-mask-image: url(@/assets/img/IconControl.9280241f.svg);
    mask-image: url(@/assets/img/IconControl.9280241f.svg);
    -webkit-mask-repeat: no-repeat;
    -moz-mask-repeat: no-repeat;
    -ms-mask-repeat: no-repeat;
    -o-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.mi-arrow-left {
    background-color: var(--icon-deault-color) !important;
}

.mi-arrow-left,
.mi-arrow-left-active {
    width: 24px;
    height: 24px;
    -webkit-mask-image: url(@/assets/img/IconControl.9280241f.svg);
    -moz-mask-image: url(@/assets/img/IconControl.9280241f.svg);
    -ms-mask-image: url(@/assets/img/IconControl.9280241f.svg);
    -o-mask-image: url(@/assets/img/IconControl.9280241f.svg);
    mask-image: url(@/assets/img/IconControl.9280241f.svg);
    -webkit-mask-position: -240px -72px;
    -moz-mask-position: -240px -72px;
    -ms-mask-position: -240px -72px;
    -o-mask-position: -240px -72px;
    mask-position: -240px -72px;
    -webkit-mask-repeat: no-repeat;
    -moz-mask-repeat: no-repeat;
    -ms-mask-repeat: no-repeat;
    -o-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.icon-square-check-primary {
    width: 20px;
    -webkit-mask-position: -512px 2px;
    -moz-mask-position: -512px 2px;
    -ms-mask-position: -512px 2px;
    -o-mask-position: -512px 2px;
    mask-position: -512px 2px;
    background-color: var(--primary) !important;
}

.icon-square-check-primary,
.icon-square-uncheck {
    height: 24px;
    -webkit-mask-image: url(@/assets/img/Icon_process.0a0cc28b.svg);
    -moz-mask-image: url(@/assets/img/Icon_process.0a0cc28b.svg);
    -ms-mask-image: url(@/assets/img/Icon_process.0a0cc28b.svg);
    -o-mask-image: url(@/assets/img/Icon_process.0a0cc28b.svg);
    mask-image: url(@/assets/img/Icon_process.0a0cc28b.svg);
    -webkit-mask-repeat: no-repeat;
    -moz-mask-repeat: no-repeat;
    -ms-mask-repeat: no-repeat;
    -o-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.icon-square-check-primary,
.icon-square-uncheck {
    height: 24px;
    -webkit-mask-image: url(@/assets/img/Icon_process.0a0cc28b.svg);
    -moz-mask-image: url(@/assets/img/Icon_process.0a0cc28b.svg);
    -ms-mask-image: url(@/assets/img/Icon_process.0a0cc28b.svg);
    -o-mask-image: url(@/assets/img/Icon_process.0a0cc28b.svg);
    mask-image: url(@/assets/img/Icon_process.0a0cc28b.svg);
    -webkit-mask-repeat: no-repeat;
    -moz-mask-repeat: no-repeat;
    -ms-mask-repeat: no-repeat;
    -o-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.icon-square-uncheck {
    width: 23px;
    -webkit-mask-position: -532px 2px;
    -moz-mask-position: -532px 2px;
    -ms-mask-position: -532px 2px;
    -o-mask-position: -532px 2px;
    mask-position: -532px 2px;
    background-color: #686c7b !important;
}

.mi-chevron-down {
    background-color: var(--icon-deault-color) !important;
}

.mi-chevron-down,
.mi-chevron-down-black {
    width: 24px;
    height: 24px;
    -webkit-mask-image: url(@/assets/img/IconControl.9280241f.svg);
    -moz-mask-image: url(@/assets/img/IconControl.9280241f.svg);
    -ms-mask-image: url(@/assets/img/IconControl.9280241f.svg);
    -o-mask-image: url(@/assets/img/IconControl.9280241f.svg);
    mask-image: url(@/assets/img/IconControl.9280241f.svg);
    -webkit-mask-position: -144px -24px;
    -moz-mask-position: -144px -24px;
    -ms-mask-position: -144px -24px;
    -o-mask-position: -144px -24px;
    mask-position: -144px -24px;
    -webkit-mask-repeat: no-repeat;
    -moz-mask-repeat: no-repeat;
    -ms-mask-repeat: no-repeat;
    -o-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.icon-copy {
    -webkit-mask-position: -384px 0;
    -moz-mask-position: -384px 0;
    -ms-mask-position: -384px 0;
    -o-mask-position: -384px 0;
    mask-position: -384px 0;
}

.icon-copy,
.icon-copy-custom {
    width: 24px;
    height: 24px;
    -webkit-mask-image: url(@/assets/img/Icon_process.0a0cc28b.svg);
    -moz-mask-image: url(@/assets/img/Icon_process.0a0cc28b.svg);
    -ms-mask-image: url(@/assets/img/Icon_process.0a0cc28b.svg);
    -o-mask-image: url(@/assets/img/Icon_process.0a0cc28b.svg);
    mask-image: url(@/assets/img/Icon_process.0a0cc28b.svg);
    -webkit-mask-repeat: no-repeat;
    -moz-mask-repeat: no-repeat;
    -ms-mask-repeat: no-repeat;
    -o-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-color: #686c7b !important;
}

.mi-pencil {
    width: 24px !important;
    height: 24px !important;
    background: url(@/assets/img/IconControl.9280241f.svg) -216px 0 no-repeat !important;
}

.icon-delete-custom {
    -webkit-mask-position: -264px -1px;
    -moz-mask-position: -264px -1px;
    -ms-mask-position: -264px -1px;
    -o-mask-position: -264px -1px;
    mask-position: -264px -1px;
}

.icon-delete-custom,
.icon-delete-custom-child {
    width: 24px;
    height: 24px;
    -webkit-mask-image: url(@/assets/img/Icon_process.0a0cc28b.svg);
    -moz-mask-image: url(@/assets/img/Icon_process.0a0cc28b.svg);
    -ms-mask-image: url(@/assets/img/Icon_process.0a0cc28b.svg);
    -o-mask-image: url(@/assets/img/Icon_process.0a0cc28b.svg);
    mask-image: url(@/assets/img/Icon_process.0a0cc28b.svg);
    -webkit-mask-repeat: no-repeat;
    -moz-mask-repeat: no-repeat;
    -ms-mask-repeat: no-repeat;
    -o-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-color: #de1e1e !important;
}

.mi-chevron-left,
.mi-direction {
    width: 24px;
    height: 24px;
    -webkit-mask-image: url(@/assets/img/IconControl.9280241f.svg);
    -moz-mask-image: url(@/assets/img/IconControl.9280241f.svg);
    -ms-mask-image: url(@/assets/img/IconControl.9280241f.svg);
    -o-mask-image: url(@/assets/img/IconControl.9280241f.svg);
    mask-image: url(@/assets/img/IconControl.9280241f.svg);
    -webkit-mask-repeat: no-repeat;
    -moz-mask-repeat: no-repeat;
    -ms-mask-repeat: no-repeat;
    -o-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-color: var(--icon-deault-color) !important;
}

.mi-chevron-left {
    -webkit-mask-position: -72px -24px;
    -moz-mask-position: -72px -24px;
    -ms-mask-position: -72px -24px;
    -o-mask-position: -72px -24px;
    mask-position: -72px -24px;
}

.mi-chevron-right,
.mi-chevron-up {
    width: 24px;
    height: 24px;
    -webkit-mask-image: url(@/assets/img/IconControl.9280241f.svg);
    -moz-mask-image: url(@/assets/img/IconControl.9280241f.svg);
    -ms-mask-image: url(@/assets/img/IconControl.9280241f.svg);
    -o-mask-image: url(@/assets/img/IconControl.9280241f.svg);
    mask-image: url(@/assets/img/IconControl.9280241f.svg);
    -webkit-mask-repeat: no-repeat;
    -moz-mask-repeat: no-repeat;
    -ms-mask-repeat: no-repeat;
    -o-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-color: var(--icon-deault-color) !important;
}

.mi-chevron-right {
    -webkit-mask-position: -96px -24px;
    -moz-mask-position: -96px -24px;
    -ms-mask-position: -96px -24px;
    -o-mask-position: -96px -24px;
    mask-position: -96px -24px;
}

.mi-chevron-down {
    background-color: var(--icon-deault-color) !important;
}

.mi-chevron-down,
.mi-chevron-down-black {
    width: 24px;
    height: 24px;
    -webkit-mask-image: url(@/assets/img/IconControl.9280241f.svg);
    -moz-mask-image: url(@/assets/img/IconControl.9280241f.svg);
    -ms-mask-image: url(@/assets/img/IconControl.9280241f.svg);
    -o-mask-image: url(@/assets/img/IconControl.9280241f.svg);
    mask-image: url(@/assets/img/IconControl.9280241f.svg);
    -webkit-mask-position: -144px -24px;
    -moz-mask-position: -144px -24px;
    -ms-mask-position: -144px -24px;
    -o-mask-position: -144px -24px;
    mask-position: -144px -24px;
    -webkit-mask-repeat: no-repeat;
    -moz-mask-repeat: no-repeat;
    -ms-mask-repeat: no-repeat;
    -o-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.mi-close,
.mi-close-2 {
    background-color: var(--icon-deault-color) !important;
}

.mi-close,
.mi-close-2,
.mi-close-grey {
    width: 24px;
    height: 24px;
    -webkit-mask-image: url(@/assets/img/IconControl.9280241f.svg);
    -moz-mask-image: url(@/assets/img/IconControl.9280241f.svg);
    -ms-mask-image: url(@/assets/img/IconControl.9280241f.svg);
    -o-mask-image: url(@/assets/img/IconControl.9280241f.svg);
    mask-image: url(@/assets/img/IconControl.9280241f.svg);
    -webkit-mask-position: -216px -24px;
    -moz-mask-position: -216px -24px;
    -ms-mask-position: -216px -24px;
    -o-mask-position: -216px -24px;
    mask-position: -216px -24px;
    -webkit-mask-repeat: no-repeat;
    -moz-mask-repeat: no-repeat;
    -ms-mask-repeat: no-repeat;
    -o-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.icon-success {
    -webkit-mask-position:  -202px -179px;
    mask-position:  -202px -179px;
}

.icon-error,
.icon-warning,
.icon-success {
    width: 24px;
    height: 24px;
    -webkit-mask-image: url(@/assets/img/Icon_process.0a0cc28b.svg);
    mask-image: url(@/assets/img/Icon_process.0a0cc28b.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-color: green !important;
}